@model RoleDetails

<h2>Role Güncelle</h2>
<hr />

<div class="row">
    <div class="col-md-12">
        <form asp-controller="Admin" asp-action="RoleEdit" method="post">

            <input type="hidden" name="RoleId" value="@Model.Role.Id" />
            <input type="hidden" name="RoleName" value="@Model.Role.Name" />

            <h6 class="bg-info text-white p-1">Kullanıcı Ekle @Model.Role.Name</h6>

            <table class="table table-bordered table-sm">
                @if (Model.NonMembers.Count() == 0)
                {
                    <tr colspan="2">
                        Bütün Kullanıcılar @Model.Role.Name Rolüne ait
                    </tr>
                }
                else
                {
                    foreach (var user in Model.NonMembers)
                    {
                        <tr>
                            <td>@user.UserName</td>
                            <td>
                                <input type="checkbox" name="IdsToAddRole" value="@user.Id" />
                            </td>
                        </tr>
                    }
                }
            </table>

            <hr />

            <h6 class="bg-info text-white p-1">Kullanıcı Çıkart @Model.Role.Name</h6>

            <table class="table table-bordered table-sm">
                @if (Model.Members.Count() == 0)
                {
                    <tr colspan="2">
                        Bütün Kullanıcılar @Model.Role.Name Rolüne ait
                    </tr>
                }
                else
                {
                    foreach (var user in Model.Members)
                    {
                        <tr>
                            <td>@user.UserName</td>
                            <td>
                                <input type="checkbox" name="IdsRemoveFromRole" value="@user.Id" />
                            </td>
                        </tr>
                    }
                }
            </table>

            <hr />
            <button type="submit" class="btn btn-primary">Güncelle</button>
            <br /><br />
        </form>
    </div>
</div>
